<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Sock Club Color Machine</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/jumbotron.css" rel="stylesheet">


    <style>
      .nav.nav-center {
          margin:0;
          float:none;
      }

      .navbar-inner{
          text-align:center;
      }
      .img_wrap {
          width: 3020px;  /*width of all images */
      }
      .horizontal-scroll-wrapper {
        max-height: 500px;
        overflow-y: auto;
        overflow-x: hidden;
      }
    .scrolling-wrapper {
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
    }

    .scrolling-wrapper img {
      display: inline-block;
    }
    </style>
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container" style="user-select: auto;">
        <a class="navbar-brand" href="#" style="user-select: auto;">SC COLOR</a>
      </div>
    </nav>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->  
        <form action="/pdf_creation" enctype="multipart/form-data" method="post">
          <input id="deckId" name="deckId" type="hidden" value="{{ deck.key.id }}">
          {% for d in deck.designs %}
            <img class="" style="margin-right: 10px;" src="/bmp_serve_key/{{ d.key.urlsafe }}" height="300"/>
            <p>{{ forloop.counter }}</p>
            <label>Top Color</label>
            <select class="" id="topColor_{{ forloop.counter }}" name="topColor_{{ forloop.counter}}">
              <option value="">Select</option>
              <option value='aruba'>aruba</option>
              <option value='black'>black</option>
              <option value='bleach'>bleach</option>
              <option value='blush'>blush</option>
              <option value='burnt orange'>burnt orange</option>
              <option value='carmel'>carmel</option>
              <option value='carrot'>carrot</option>
              <option value='cerulean'>cerulean</option>
              <option value='charcoal'>charcoal</option>
              <option value='clementine'>clementine</option>
              <option value='concrete'>concrete</option>
              <option value='cornflower'>cornflower</option>
              <option value='cyan'>cyan</option>
              <option value='deep pink'>deep pink</option>
              <option value='french blue'>french blue</option>
              <option value='goldenrod'>goldenrod</option>
              <option value='green apple'>green apple</option>
              <option value='hibiscus'>hibiscus</option>
              <option value='iris'>iris</option>
              <option value='jade'>jade</option>
              <option value='kelly'>kelly</option>
              <option value='lagoon'>lagoon</option>
              <option value='lake'>lake</option>
              <option value='lapis'>lapis</option>
              <option value='lavender'>lavender</option>
              <option value='lime'>lime</option>
              <option value='living coral'>living coral</option>
              <option value='maroon'>maroon</option>
              <option value='moose'>moose</option>
              <option value='mushroom'>mushroom</option>
              <option value='natural'>natural</option>
              <option value='navy'>navy</option>
              <option value='onyx'>onyx</option>
              <option value='parrot'>parrot</option>
              <option value='peach'>peach</option>
              <option value='peacock'>peacock</option>
              <option value='persimmon'>persimmon</option>
              <option value='pine'>pine</option>
              <option value='purple'>purple</option>
              <option value='quicksilver'>quicksilver</option>
              <option value='red'>red</option>
              <option value='red orange'>red orange</option>
              <option value='reef'>reef</option>
              <option value='rich brown'>rich brown</option>
              <option value='royal purple'>royal purple</option>
              <option value='rust'>rust</option>
              <option value='sand'>sand</option>
              <option value='seafoam'>seafoam</option>
              <option value='sunflower'>sunflower</option>
              <option value='teal'>teal</option>
              <option value='turf'>turf</option>
              <option value='ultramarine'>ultramarine</option>
              <option value='violet'>violet</option>
              <option value='yellow'>yellow</option>
            </select>

            <label>Heel Color</label>
            <select class="" id="heelColor_{{ forloop.counter}}" name="heelColor_{{ forloop.counter}}">
              <option value="">Select</option>
              <option value='aruba'>aruba</option>
              <option value='black'>black</option>
              <option value='bleach'>bleach</option>
              <option value='blush'>blush</option>
              <option value='burnt orange'>burnt orange</option>
              <option value='carmel'>carmel</option>
              <option value='carrot'>carrot</option>
              <option value='cerulean'>cerulean</option>
              <option value='charcoal'>charcoal</option>
              <option value='clementine'>clementine</option>
              <option value='concrete'>concrete</option>
              <option value='cornflower'>cornflower</option>
              <option value='cyan'>cyan</option>
              <option value='deep pink'>deep pink</option>
              <option value='french blue'>french blue</option>
              <option value='goldenrod'>goldenrod</option>
              <option value='green apple'>green apple</option>
              <option value='hibiscus'>hibiscus</option>
              <option value='iris'>iris</option>
              <option value='jade'>jade</option>
              <option value='kelly'>kelly</option>
              <option value='lagoon'>lagoon</option>
              <option value='lake'>lake</option>
              <option value='lapis'>lapis</option>
              <option value='lavender'>lavender</option>
              <option value='lime'>lime</option>
              <option value='living coral'>living coral</option>
              <option value='maroon'>maroon</option>
              <option value='moose'>moose</option>
              <option value='mushroom'>mushroom</option>
              <option value='natural'>natural</option>
              <option value='navy'>navy</option>
              <option value='onyx'>onyx</option>
              <option value='parrot'>parrot</option>
              <option value='peach'>peach</option>
              <option value='peacock'>peacock</option>
              <option value='persimmon'>persimmon</option>
              <option value='pine'>pine</option>
              <option value='purple'>purple</option>
              <option value='quicksilver'>quicksilver</option>
              <option value='red'>red</option>
              <option value='red orange'>red orange</option>
              <option value='reef'>reef</option>
              <option value='rich brown'>rich brown</option>
              <option value='royal purple'>royal purple</option>
              <option value='rust'>rust</option>
              <option value='sand'>sand</option>
              <option value='seafoam'>seafoam</option>
              <option value='sunflower'>sunflower</option>
              <option value='teal'>teal</option>
              <option value='turf'>turf</option>
              <option value='ultramarine'>ultramarine</option>
              <option value='violet'>violet</option>
              <option value='yellow'>yellow</option>
            </select>

            <label>Toe Color</label>
            <select class="" id="toeColor_{{ forloop.counter}}" name="toeColor_{{ forloop.counter}}">
              <option value="">Select</option>
              <option value='aruba'>aruba</option>
              <option value='black'>black</option>
              <option value='bleach'>bleach</option>
              <option value='blush'>blush</option>
              <option value='burnt orange'>burnt orange</option>
              <option value='carmel'>carmel</option>
              <option value='carrot'>carrot</option>
              <option value='cerulean'>cerulean</option>
              <option value='charcoal'>charcoal</option>
              <option value='clementine'>clementine</option>
              <option value='concrete'>concrete</option>
              <option value='cornflower'>cornflower</option>
              <option value='cyan'>cyan</option>
              <option value='deep pink'>deep pink</option>
              <option value='french blue'>french blue</option>
              <option value='goldenrod'>goldenrod</option>
              <option value='green apple'>green apple</option>
              <option value='hibiscus'>hibiscus</option>
              <option value='iris'>iris</option>
              <option value='jade'>jade</option>
              <option value='kelly'>kelly</option>
              <option value='lagoon'>lagoon</option>
              <option value='lake'>lake</option>
              <option value='lapis'>lapis</option>
              <option value='lavender'>lavender</option>
              <option value='lime'>lime</option>
              <option value='living coral'>living coral</option>
              <option value='maroon'>maroon</option>
              <option value='moose'>moose</option>
              <option value='mushroom'>mushroom</option>
              <option value='natural'>natural</option>
              <option value='navy'>navy</option>
              <option value='onyx'>onyx</option>
              <option value='parrot'>parrot</option>
              <option value='peach'>peach</option>
              <option value='peacock'>peacock</option>
              <option value='persimmon'>persimmon</option>
              <option value='pine'>pine</option>
              <option value='purple'>purple</option>
              <option value='quicksilver'>quicksilver</option>
              <option value='red'>red</option>
              <option value='red orange'>red orange</option>
              <option value='reef'>reef</option>
              <option value='rich brown'>rich brown</option>
              <option value='royal purple'>royal purple</option>
              <option value='rust'>rust</option>
              <option value='sand'>sand</option>
              <option value='seafoam'>seafoam</option>
              <option value='sunflower'>sunflower</option>
              <option value='teal'>teal</option>
              <option value='turf'>turf</option>
              <option value='ultramarine'>ultramarine</option>
              <option value='violet'>violet</option>
              <option value='yellow'>yellow</option>
            </select>
            <br>
            <hr>
          {% endfor %}
          <button class="btn btn-success btn-lg" type="submit">Create Deck &raquo;</button>
        </form>
      </div> <!-- /container -->

    </main>

    <footer class="container">
      <p>&copy; Company 2017-2018</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>
      $(document).ready(function() {
         $(".img_select").click(function() {
            $(".img_select").css("border", "0px");
            if(parseInt($(this).css("border")) == 0) {
                $(this).css("border", "5px solid blue");
                $("#design_url").val($(this).prop('src'))
                //you can remove the id from array if you need to
            }
            else {
               $(this).css("border", "0px solid blue");
               // selectedImgsArr.push($(this).attr("id")); //something like this 
            }
         });
      });
    </script>
  </body>
</html>
