<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Sock Club Color Machine</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/jumbotron.css" rel="stylesheet">


    <style>
      .nav.nav-center {
          margin:0;
          float:none;
      }

      .navbar-inner{
          text-align:center;
      }
      .img_wrap {
          width: 3020px;  /*width of all images */
      }
      .horizontal-scroll-wrapper {
        max-height: 500px;
        overflow-y: auto;
        overflow-x: hidden;
      }
    .scrolling-wrapper {
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
    }

    .scrolling-wrapper img {
      display: inline-block;
    }
    </style>
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="mx-auto order-0">
        <form action="/file_upload" enctype="multipart/form-data" method="post">
          <input type="file" name="file"/>
          <button class="btn btn-outline-success nav-center navbar-inner navbar-brand mx-auto" type="submit">Upload New Design</button>
        </form>
      </div>
    </nav>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h2 class="text-center" style="margin-bottom: 20px;">Select Design</h2>
          <div class="scrolling-wrapper" style="margin-bottom: 20px;">
              {% for d in designs %}
                <img class="img_select" style="margin-right: 10px;" src="/bmp_serve/{{ d.key.id }}" height="300"/>
              {% endfor %}
              <img class="img_select" style="margin-right: 10px;" src="https://www.sockclub.com/images/squiggles.bmp" height="300"/>
          </div>
          <div class="row">
            <form action="/fsb_image" method="post" id="signup-form">
              <input id="design_url" type="hidden" name="design" value="https://www.sockclub.com/images/squiggles.bmp" />
              <button class="btn btn-primary btn-lg" type="submit">Create Deck &raquo;</button>
            </form>
          </div>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->  
        {% if show_results %}     
          <img src="{{fsb}}" style="border: 1px solid; margin-bottom:10px;" height="600"/>
        {% endif %} 
      </div> <!-- /container -->

    </main>

    <footer class="container">
      <p>&copy; Company 2017-2018</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>
      $(document).ready(function() {
         $(".img_select").click(function() {
            $(".img_select").css("border", "0px");
            if(parseInt($(this).css("border")) == 0) {
                $(this).css("border", "5px solid blue");
                $("#design_url").val($(this).prop('src'))
                //you can remove the id from array if you need to
            }
            else {
               $(this).css("border", "0px solid blue");
               // selectedImgsArr.push($(this).attr("id")); //something like this 
            }
         });
      });
    </script>
  </body>
</html>
